<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMETests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SMETests.Properties.Settings>
            <setting name="SMETests_com_personifycloud_smemitst_service" serializeAs="String">
                <value>http://smemitst.personifycloud.com/SSO/webservice/service.asmx</value>
            </setting>
            <setting name="SMETests_com_personifycloud_smemitst1_IMService" serializeAs="String">
                <value>http://smemitst.personifycloud.com/IMS/IMService.asmx</value>
            </setting>
        </SMETests.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="IMS.IMService" value="http://smemitst.personifycloud.com/IMS/IMService.asmx"/>
    <add key="svcLogin" value="admin"/>

    <!-- the admin production password... -->
    <!--<add key="svcPassword" value="admin" />-->
    
    <!-- the admin test password... -->
    <add key="svcPassword" value="admin123"/>
    <add key="SSO.service" value="http://smemitst.personifycloud.com/SSO/webservice/service.asmx"/>
   
   
    <!--<add key="svcUri_Base" value="http://smemitst.personifycloud.com/PersonifyDataServices/PersonifyData.svc"/>-->
    <add key="svcUri_Base" value="http://smemitst.personifycloud.com/PersonifyDataServices/PersonifyDataSME.svc"/>
    <add key="svcUri_BaseAlt" value="http://smemitst.personifycloud.com/PersonifyDataServices/PersonifyData.svc"/>
    <add key="PersonifyBaseURN" value="smemitst.personifycloud.com"/>
    <add key="personifytest" value="123"/>
    <add key="Personify.SSO.service" value="http://smemitst.personifycloud.com/SSO/webservice/service.asmx"/>
    <add key="Personify_LoginURL" value="http://smemitst.personifycloud.com/SSO/login.aspx"/>
    <add key="PersonifySSO_VendorID" value="7"/>
    <add key="PersonifySSO_VendorName" value="TIMSS"/>
    <add key="PersonifySSO_Block" value="E670617D84FD6DF0F8F32866939E97C5"/>
    <add key="PersonifySSO_Password" value="10BB61615AF73164F1F9B9AC9655439C"/>
    <add key="KenticoCustomProperty_MasterCustomerId" value="RemoteID"/>
    <add key="IMSWebReferenceURL" value="http://smemitst.personifycloud.com/IMS/IMService.asmx"/>
    <add key="PersonifyAutoLoginUrl" value="http://smemitst.personifycloud.com/SSO/autologin.aspx"/>
    <add key="EnableBasicAuthentication" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
