<?xml version="1.0" encoding="utf-8"?>
<appSettings>
     <!-- Site Settings -->
    <add key="Site_HeaderLogoMenuID" value="6"/>
    <add key="Site_FunctionalNavigationMenuID" value="7"/>
    <add key="Site_CopyrightNavigationMenuID" value="8"/>
    <add key="Site_RegionsNavigationMenuID" value="9"/>
    <add key="Site_FooterNavigationMenuID" value="10"/>
    <add key="Site_FooterHighlightLeftMenuID" value="18"/>
    <add key="Site_FooterHighlightRightMenuID" value="19"/>
    <add key="Site_FooterSocialMediaMenuID" value="20"/>
    <add key="Site_MainNavigationMenuID" value="21"/>
    <add key="Site_CallToActionNavigationMenuID" value="22"/>
    <add key="Site_HomepageHighlightsMenuID" value="40"/>
    <add key="Site_HomepageSpotlightContentID" value="2108"/> 
    <add key="Site_LoggedInMenuID" value="39"/>
    <add key="Site_RegulatoryFocusMenuId" value="57"/>
	<add key="Site_IndustryEventsMenuId" value="58"/>
  
    <add key="Site_RegulatoryFocusFolderId" value="929"/>
    <add key="EnableGoogleAnalyticsTracking" value="false"/>

    <!-- Content IDs -->
<add key="IndustryEventsContentID" value="19626"/>
    <add key="Content_RegulatoryColorConfig" value="253"/>
    <add key="Homepage_HeroStoriesContentID" value="105"/>
    <add key="EventCalendarContentID" value="146"/>
	<add key="HomepageContentID" value="106"/>
	<add key="Enterprise.Widget.ContactAdmin" value ="15017"/>
    <add key="Enterprise.Widget.Instruction" value ="15014"/>
    <add key="Enterprise.Widget.Introduction" value ="15013"/>
    <add key="Enterprise.Widget.Confirmation" value ="15018"/>
    <add key="Enterprise.Widget.Header" value ="15016"/>
    <add key="Enterprise.Widget.Footer" value ="15015"/>
	<add key="LMS.iframe" value ="18245"/>
	
	<add key="Site_USCalculatorContentID" value="19804"/>
  <add key="Site_EUCalculatorContentID" value="19803"/>
  <add key="Site_EUCalculatorFORMID" value="19805"/>
   
    <!-- smartform IDs -->
    <add key="Smartform_TabbedContent" value="14"/>
    <add key="Site_EventSmartformID" value="16"/>
    <add key="Site_ProductSmartformID" value="19"/>
    <add key="Site_GridLandingPageSmartformID" value="11"/>
    <add key="Site_AdRotatorSmartformID" value="15"/>
    <add key="NewsArticleID" value="17" />
    
    <!-- metadata IDs -->
    <add key="Metadata_RelatedContent" value="139"/>
    <add key="Metadata_ImageCaption" value="140"/>
    <add key="Metadata_RelatedTabbedContent" value="141"/>
    <add key="Metadata_FeaturedProductContent" value="146"/>
    <add key="Metadata_Call_to_Action" value="152"/>
    <add key="Metadata_NewsArticleTickerOverride" value="168"/>
    <add key="Metadata_LargeFeaturedArticle" value="162"/>    
    <add key="Metadata_SubMenu" value="176"/>
    <add key="Metadata_ShowCrossPromotionalContent" value="181"/>
    <add key="Metadata_HeaderLink" value="183"/>
    <add key="Metadata_TagsMetaDataId" value="182" /> 
    <add key="Metadata_ShowYMBII" value="184"/>
    <add key="Metadata_YMBIILabel" value="186"/>
    <add key="Metadata_PublicationDate" value="187"/>
	<add key="Metadata_RelatedEventContent" value="188"/>

    <add key="Text_YMBIILabel" value="Related Links"/>
  
  <!-- Taxonomy IDs -->
    <add key="Taxonomy.id.eventlocations" value="333"/>
    <add key="Taxonomy.id.EventTypes" value="334"/>
    <add key="Taxonomy.id.RapsEvent" value="335"/>
    <add key="Taxonomy.id.OnDemandEvent" value="336"/>
    <add key="Taxonomy.id.ECourseEvent" value="337"/>
    <add key="Taxonomy.id.IndustryEvent" value="338"/>
    <add key="Taxonomy.id.Tags" value="597"/>

    <!-- Search App settings-->
    <add key="Search.Content.id" value="152"/>
    <add key="EventLocationSearch.Content.id" value="220"/>
    <add key="BrowseByTopic.Taxonomy.ids" value="422,523"/>
    <add key="RegulatoryNews.Folder.id" value="929"/>

    <!-- Personify Integration Details Staging-->
    <add key="personifytest" value="123"/>
    <add key="Personify.SSO.service" value="http://smemitst.personifycloud.com/SSO/webservice/service.asmxx"/>
    <add key="Personify_LoginURL" value="http://smemitst.personifycloud.com/SSO/login.aspx" />
    <add key="PersonifySSO_VendorID" value="7" />
    <add key="PersonifySSO_VendorName" value="TIMSS" />
    <add key="PersonifySSO_Block" value="E670617D84FD6DF0F8F32866939E97C5" />
    <add key="PersonifySSO_Password" value="DAC851F82447E20CA8FEE0BF0E5EB64B" />
    <add key="KenticoCustomProperty_MasterCustomerId" value="RemoteID" />
    <add key="IMSWebReferenceURL" value="http://smemitst.personifycloud.com/IMS/IMService.asmx"/>
   
    <!-- End of Personify Integration Details-->

  <!-- ProductPull Details-->
  <add key="ProductPull_EventsFolder" value="223"/>
  <add key="RelatedProductLinkDefaultText" value="learn more"/>

  <add key="ProductPull_ProductMetaId" value="158"/>
  <add key="ProductPull_ImageCaptionMetaId" value="140"/>
  <add key="ProductPull_InventoryProductFolder" value="1282"/>
  <add key="ProductPull_InventoryProductSmartFormId" value="19"/>
  <add key="ProductPull_InventoryProductTemplateId" value="61"/>
  <add key="ProductPull_InventoryProductUrl" value="/ProductDetails.aspx?ProductId="/>
  <add key="ProductPull_EventProductFolder" value="1281"/>
  <add key="ProductPull_EventProductSmartFormId" value="16"/>
  <add key="ProductPull_EventProductTemplateId" value="46"/>
  <add key="ProductPull_EventProductUrl" value="/EventDetails.aspx?ProductId="/>
  <add key="ProductPull_ProductDetailUrl" value="/ProductDetail.aspx?ProductId="/>
  <add key="ProductPull_EventProductStartDateMetaId" value="144"/>
  <add key="ProductPull_EventProductEndDateMetaId" value="145"/>

  <!--<add key="ProductPull_InventoryProductImageMetaId" value="55"/>-->
  <!--End of ProductPull Details-->

    <add key="RelatedProductLinkDefaultText" value="learn more"/>
    
    <!-- Higher Logic Version 1.0 Key and Password - DO NOT USE
    <add key="HLIAMKey" value="6C323594-B09A-4A21-BC7B-2C6347D22D1A"/>
    <add key="HLPassword" value="DEAC3413-6074"/>-->
  
    <add key="HLIAMKey" value="19F9CE0D-2616-4BF6-A41E-926AE2A56EB7"/>
    <add key="HLPassword" value="F3F90306-C249"/>

    <add key="HLSearchPage" value="SearchHLTemp.aspx"/>
    
  <!-- End Higher Logic -->

  <!--LoggedIn Menu Links-->
  <add key="LoggedInMenu.MyAccount" value="131"/>
  <add key="LoggedInMenu.MyCommunityProfile" value="132"/>
  <add key="LoggedInMenu.RenewMembership" value="133"/>
  <add key="LoggedInMenu.JoinRAPS" value="134"/>
  <add key="LoggedInMenu.ViewOnlineScores" value="135"/>
  <!--End LoggedIn Menu Links-->

 <!-- Regulatory Focus -->
  <add key="RFTodayLogoContentId" value="11291"/>
  <add key="RFSearchContentId" value="16255"/>
  <!-- End Regulatory Focus -->
  
   <!-- Default Ad Rotators -->
  <add key="DefaultAdFolderId" value="1129"/>
  <!-- End Default Ad Rotators -->

  <!--URL's-->
  <add key="RAPS.Checkout" value="http://raps.dev.networkats.com/RAPSCheckout.aspx"/>
  <add key="Logout.HomePage" value="/default.aspx"/>
  <add key="Login.Page" value="/vlogin.aspx"/>
  <add key="ProductDetails.Page" value="/PageLayoutViewer.aspx?pageid=162"/>
  <add key="SSO.ForgotPassword" value="http://smemitst.personifycloud.com/SSO/ForgotPassword.aspx"/>
  <add key="SSO.Autologin" value="http://smemitst.personifycloud.com/SSO/autologin.aspx"/>
  <add key ="Relationship.Control" value="/relationshipcontrol.aspx"/>
  <add key="Login.CreateNewUser" value="/createnewuser.aspx"/>
  <!--END URL's-->

  <!--RSS-->
  <add key="RSS.FolderIds" value="1141,1128"/>
  <!--RSS-->
  <add key="RSS.Folder1" value="1141"/>
  <add key="RSS.Folder2" value="1128"/>
  <!--End RSS-->
  
  <!--News Exclude Path-->
  <add key="News.ExcludePath" value="Site Setup/"/>
  
  <!--Google Anlaytics-->
  <add key="GoogleAnalytics.AccountName" value="UA-2736591-2"/>
  <add key="GoogleAnalytics.DomainName" value="raps.org"/>
  <!--End Google Analytics-->

<!--Flag HTTP/HTTPS Switch-->
  <add key="EnforceHTTPSforPersonifyPages" value="false"/>
  <add key="EnforceHTTPforSyscomPages" value="true"/>
  <!--End Flag HTTP/HTTPS Switch-->

  <!--Cache Settings-->
  <add key="enableCaching" value="true"/>
  <add key="SiteCacheKey" value="RAPS_"/>
  <add key="DataCacheMinutes" value="1440"/>
  <add key="CacheType" value="Absolute"/>

  <!--Cache Settings-->
</appSettings>

